footer
{
    background-color: #ededed;
    color: #202124;
}

body
{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

#Logo
{
    position: relative;
    left: 40%;
    right: 50%;
    top: 40%;
    bottom: 60%;
}